<div class="w-dvw h-dvh flex justify-center items-center bg-zinc-300">
  <div class="border rounded border-zinc-300 w-96 h-3/6 shadow-md bg-white px-10 pt-10">
    <h2 class="text-center text-2xl mb-5">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border rounded border-zinc-300 w-full mb-4" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "border rounded border-zinc-300 w-full mb-4" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mb-5">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "w-full p-2 mb-2 cursor-pointer text-white bg-indigo-500 rounded-lg hover:bg-indigo-600 focus:outline-none focus:bg-indigo-600" %>
      </div>
    <% end %>

    <div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>